@inherits LayoutComponentBase

<div class="layout-wrapper">
    <!-- Navbar / Sidebar -->
    <Agiliz.Wizard.Components.Organisms.Sidebar />

    <!-- Main Content -->
    <main class="main-area">
        @Body
    </main>
</div>

<div id="toasts"></div>
