@using Microsoft.AspNetCore.Components.Routing
@using Agiliz.Wizard.Components.Templates

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <p role="alert">Página não encontrada no Agiliz.Wizard.</p>
        </LayoutView>
    </NotFound>
</Router>
